# Combining dateset and giving labels

In [1]:
#importing basic libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# reading phishing excel sheet
df=pd.read_csv('scam.csv')

In [3]:
# Gives first 5 entries in the data set
df.head()

,phish_id,url,phish_detail_url,submission_time,verified,verification_time,online,target
0,7176078,http://vip.bitcoinprofit.wallfirm.link/vip/UK/...,http://www.phishtank.com/phish_detail.php?phis...,2021-06-15T03:37:57+00:00,yes,2021-06-15T03:40:03+00:00,yes,Other
1,7176077,http://z2g0.skysafe.codes/apmix,http://www.phishtank.com/phish_detail.php?phis...,2021-06-15T03:36:22+00:00,yes,2021-06-15T03:40:03+00:00,yes,Other
2,7176051,https://arnzaon.verify-infomations.gq/,http://www.phishtank.com/phish_detail.php?phis...,2021-06-15T03:05:28+00:00,yes,2021-06-15T03:07:03+00:00,yes,Other
3,7176047,https://bytesengineering.com/off/Off/authorize...,http://www.phishtank.com/phish_detail.php?phis...,2021-06-15T03:03:13+00:00,yes,2021-06-15T03:07:03+00:00,yes,Other
4,7176044,http://www.eyeshinevisioncare.com/Images/lates...,http://www.phishtank.com/phish_detail.php?phis...,2021-06-15T03:01:18+00:00,yes,2021-06-15T03:02:01+00:00,yes,Other

In [4]:
# Taking only 'url' column from entire data frame
phishing=df['url']

In [5]:
phishing

0       http://vip.bitcoinprofit.wallfirm.link/vip/UK/...
1                         http://z2g0.skysafe.codes/apmix
2                  https://arnzaon.verify-infomations.gq/
3       https://bytesengineering.com/off/Off/authorize...
4       http://www.eyeshinevisioncare.com/Images/lates...
                              ...
9922        http://sites.google.com/site/habbotuttogratis
9923         http://www.habbocreditosparati.blogspot.com/
9924    http://creditiperhabbogratissicuro100.blogspot...
9925    http://mundovirtualhabbo.blogspot.com/2009_01_...
9926    http://aijcs.blogspot.com/2005/03/colourful-li...
Name: url, Length: 9927, dtype: object

In [6]:
type(phishing)

pandas.core.series.Series

In [7]:
#since phishing is of type series, convert it into data frame

In [8]:
phishing=phishing.to_frame()

In [9]:
phishing.head()

                                                 url
0  http://vip.bitcoinprofit.wallfirm.link/vip/UK/...
1                    http://z2g0.skysafe.codes/apmix
2             https://arnzaon.verify-infomations.gq/
3  https://bytesengineering.com/off/Off/authorize...
4  http://www.eyeshinevisioncare.com/Images/lates...

In [10]:
# Adding a new column 'label' and giving it a value of 1
phishing['label']=1

In [11]:
phishing.head()

                                                 url  label
0  http://vip.bitcoinprofit.wallfirm.link/vip/UK/...      1
1                    http://z2g0.skysafe.codes/apmix      1
2             https://arnzaon.verify-infomations.gq/      1
3  https://bytesengineering.com/off/Off/authorize...      1
4  http://www.eyeshinevisioncare.com/Images/lates...      1

In [12]:
# column name for legit dataset
cols=['index','url']

In [13]:
df2=pd.read_csv('legit.csv',names=cols)

In [14]:
df2.head()

   index            url
0      1     google.com
1      2    youtube.com
2      3   facebook.com
3      4      baidu.com
4      5  wikipedia.org

In [15]:
df2.columns

Index(['index', 'url'], dtype='object')

In [16]:
#Dropping index column
df2.drop('index',axis=1,inplace=True)

In [17]:
df2.head()

             url
0     google.com
1    youtube.com
2   facebook.com
3      baidu.com
4  wikipedia.org

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   url     1000000 non-null  object
dtypes: object(1)
memory usage: 7.6+ MB

In [19]:
# Taking only top 10000 data
legit=df2[:10000]

In [20]:
legit.head()

             url
0     google.com
1    youtube.com
2   facebook.com
3      baidu.com
4  wikipedia.org

In [21]:
legit['label']=0

<ipython-input-21-4627dec420cc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  legit['label']=0

In [22]:
legit.head()

             url  label
0     google.com      0
1    youtube.com      0
2   facebook.com      0
3      baidu.com      0
4  wikipedia.org      0

In [23]:
#combining phishing and legit dataset
sites=pd.concat([phishing,legit])

In [24]:
sites.head()

                                                 url  label
0  http://vip.bitcoinprofit.wallfirm.link/vip/UK/...      1
1                    http://z2g0.skysafe.codes/apmix      1
2             https://arnzaon.verify-infomations.gq/      1
3  https://bytesengineering.com/off/Off/authorize...      1
4  http://www.eyeshinevisioncare.com/Images/lates...      1

In [25]:
sites.tail()

                    url  label
9995   omqygrfokyxg.com      0
9996  outsideonline.com      0
9997          nvidia.ru      0
9998     iplocation.net      0
9999       dumpaday.com      0

In [26]:
sites.count()

url      19927
label    19927
dtype: int64

In [27]:
#resetting the index so that numbering of index remains correct
sites.reset_index(inplace=True)

In [28]:
sites

       index                                                url  label
0          0  http://vip.bitcoinprofit.wallfirm.link/vip/UK/...      1
1          1                    http://z2g0.skysafe.codes/apmix      1
2          2             https://arnzaon.verify-infomations.gq/      1
3          3  https://bytesengineering.com/off/Off/authorize...      1
4          4  http://www.eyeshinevisioncare.com/Images/lates...      1
...      ...                                                ...    ...
19922   9995                                   omqygrfokyxg.com      0
19923   9996                                  outsideonline.com      0
19924   9997                                          nvidia.ru      0
19925   9998                                     iplocation.net      0
19926   9999                                       dumpaday.com      0

[19927 rows x 3 columns]

In [29]:
sites.drop('index',axis=1,inplace=True)

In [30]:
sites.head()

                                                 url  label
0  http://vip.bitcoinprofit.wallfirm.link/vip/UK/...      1
1                    http://z2g0.skysafe.codes/apmix      1
2             https://arnzaon.verify-infomations.gq/      1
3  https://bytesengineering.com/off/Off/authorize...      1
4  http://www.eyeshinevisioncare.com/Images/lates...      1

In [31]:
sites.tail()

                     url  label
19922   omqygrfokyxg.com      0
19923  outsideonline.com      0
19924          nvidia.ru      0
19925     iplocation.net      0
19926       dumpaday.com      0